:root {
  --primary-color: #FF5F5F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Poppins;
}

body {
  background-color: #191919;
}

.container {
  display:flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 100px auto;
}

.text-section {
  max-width: 635px;
  word-wrap: break-word;
}

.info-section {
  color: var(--primary-color);
}

.info-section + .info-section {
  margin-top: 30px;
}

.info-section h1 {
  font-size: 48px;
}

.info-section p {
  max-width: 635px;
  font-size: 18px;
  line-height: 27px;
}

.img-container img {
  width: 354px;
  height: 640px;  
  object-fit: cover;
  filter: grayscale(100%);
}

.img-container {
  position: relative;
}

.img-container::after {
  content: ' ';
  width: 354px;
  height: 640px;  
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  left: 20px;
  top: 20px;
}
