:root {
  --primary-color: #FF5F5F;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%)
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-35%)
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Poppins;
}

body {
  background-color: #191919;
}

::selection {
  color: #f5f5f5;
  background: rgb(255, 166, 166);
}

.container {
  display:flex;
  height: 100vh;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.text-section {
  display:flex;
  flex-direction: column;
  max-width: 635px;
  word-wrap: break-word;
  margin-right: 20px;
}

.info-section {
  margin-top: 100px;
  color: var(--primary-color);
}

.info-section + .info-section {
  margin-top: 30px;
}

.info-section h1 {
  font-size: 4.8rem;
  color: white;
  position: relative;
  overflow: hidden;
  animation: 1s ease slideFromTop;
}

.info-section h1::after {
  content: ' ';
  width: 202px;
  height: 20px;  
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  left: 0;
  bottom: 15px;
  animation: 2s ease slideFromLeft;
}

.info-section p {
  max-width: 635px;
  font-size: 1.8rem;
  line-height: 27px;
  animation: 0.9s ease slideFromTop;

}

.skill-section h1::after {
  content: ' ';
  width: 130px;
  height: 20px;  
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  left: 0;
  bottom: 15px;
}

.skill-section p {
  font-weight: 500;
  font-size: 1.8rem;
  color: #f5f5f5;
}

.skill-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.progress-bar {
  max-width: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

.my-progress {
  background-color: var(--primary-color);
  border-radius: 8px;
  animation: 1s ease slideFromLeft;

}

.img-container img {
  width: 354px;
  height: 640px;  
  object-fit: cover;
  filter: grayscale(100%);
  animation: 1.2s ease slideFromTop;

}

.img-container {
  margin-top: 100px;

  position: relative;
}

.img-container::after {
  content: ' ';
  width: 354px;
  height: 640px;  
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  left: 20px;
  top: 20px;
  animation: 1s ease slideFromLeft;

}

.links-social {
  height: 100px;
  display:flex;
  align-items: center;
  flex: 1;
}

.links-social ul {
  display:flex;
  align-items: center;
  width: 100%;
  align-items: center;
  list-style: none;
}

.links-social ul li + li {
  margin-left: 20px;
}

.links-social ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.links-social ul li {
  position: relative;
  font-weight: 500;
  overflow: hidden;
  animation: 1s ease slideFromTop;

}

.links-social ul li::after {
  content: ' ';
  width: 100%;
  height: 9px;  
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  left: 0;
  bottom:2px;
  animation: 0.7s ease slideFromLeft;

}