@media (max-width: 1340px) {
  .wrapper {
    padding: 65px 65px 0 65px;
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 910px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    main {
      grid-template-columns: 1fr;

      .projects {
        .project {
          margin-top: 36px;
        }
      }
    }

    footer {
      min-height: 200px;
    }
  }
}
