* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  font-family: Ubuntu, sans-serif;
  color: #F5F5F5;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 65px;
}

.wrapper main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (630px)[2];
      grid-template-columns: repeat(2, 630px);
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper main .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper main .introduction p {
  font-size: 7.2rem;
  line-height: 105.9%;
}

.wrapper main .introduction p + p {
  font-size: 2.4rem;
  line-height: 126.9%;
  color: #8E8E8E;
  margin-bottom: 50px;
  margin-top: 20px;
}

.wrapper main .introduction figure {
  overflow: hidden;
}

.wrapper main .introduction figure:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrapper main .introduction figure img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
}

.wrapper main .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper main .projects:hover h1 {
  letter-spacing: 10px;
}

.wrapper main .projects h1 {
  font-size: 6.4rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper main .projects .project {
  background: #262626;
  width: 100%;
  height: 180px;
  padding: 35px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.wrapper main .projects .project div span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #F5F5F5;
}

.wrapper main .projects .project div p {
  color: #F5F5F5;
  font-size: 3.6rem;
}

.wrapper main .projects .project p {
  font-size: 1.8rem;
  color: #8E8E8E;
}

.wrapper footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper footer a + a {
  margin-left: 20px;
}
/*# sourceMappingURL=styles.css.map */